@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --varbackground: #F6F6F6;
    --vartext: black;
    --vartextopposite: white;
    --varshadowClr: grey;

}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--varbackground);
    color: var(--vartext);
    font-family: 'Kanit', sans-serif;
    width: 100vw;
    height: 100vh;
    font-size: 14px;
    overflow-y: hidden;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

/* .infoText{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    padding-left: 20px;
} */

/* .infoText > span:nth-child(1){
    font-size: 24px;
    font-weight: bold;
}

.infoText > span:nth-child(2){
    font-size: 20px;
    font-weight: normal;
} */

.itemBox{
    display: flex;
    flex-direction: row;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}


.mainPage{
    position: relative;
}


.mainComponents{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
}


.menu{
    /* position: absolute;
    width: 50;
    height: 50;
    background-color: red;
    top: 0;
    z-index: 10; */
    position: absolute;

    top: 0;
    right: 0;
    width: 0px;
    height: 0px;
    background-color: teal;
    border-radius: 100%;
    z-index: 10;
    transition: all 0.5s ease; /* Transition for smooth size change */
    transform-origin: top right; /* Set transform origin to top right corner */
    /* opacity: 0;  */
}


.menu.expanded {
 
    width: 100vw;
    height: 100vh;
    border-radius: 0;
    /* opacity: 1; */
}

@media screen and (min-width: 750px){
    .menu.expanded {
        width: 50vw;
    }
}
  